data/pills
data/prescriptions
data/large-pills
data/small-pills
data/prescriptions.zip
data/small-pills.zip
data/all_imgs
data-old
data/VAIPE-PP_01
data/VAIPE-PP_02
data/VAIPE-PP_03
logs
logs/saved
vis
__pycache__
data/__pycache__
__pycache__
wandb

